@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import "config";

body {
    font-family: "Ping Fang SC", "STHeiTi", "arial", "Microsoft YaHei", "SimSun", "Georgia", "Times", "Times New Roman", "serif";
    font-size: 1.4rem;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a{
	color:$primaryBg;
}
html{
	font-size:62.5%;
}
body {
	color: #4B4B4B;
	
}
code {
	padding: 2px 4px;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-size: 1.4rem;
	font-weight: normal;
}

.w-1024{
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
}
.w-768{
	max-width:768px;
	margin-left:auto;
	margin-right:auto;
}

.header{
	height:50px;
}
.banner {
	background:lighten($primaryBg, 26%);
	text-align: center;
	padding: 80px 40px 100px;
	color: $primaryBg;
}
.banner .title {
	font-size: 8rem;
	margin-bottom:10px;
}
.banner p {
	margin-bottom:20px;
	font-size: 3rem;
}
.banner .btn-group{
	margin-top: 40px;
}
.banner .btn-group .btn {
	font-size: 1.8rem;
	margin:0 10px;
	padding: 15px 30px;
	min-width:180px;

}
@media screen and (max-width : 640px){

	.banner .btn-group .btn{
		display: inline-block;
		margin-bottom: 1.6rem;
	}
	
}
.index {
	padding: 50px 20px;
}
.index .hb-sum {
	margin-bottom: 30px;
	font-size:2rem;
	text-align:center;
}
.margin-20{
	margin:20px 0;
}
.margin-10{
	margin:10px 0;
}

.quotations{
	background:$primaryBg;
	padding: 60px 0;
}
.quotations .title{
	font-size: 4rem;
	margin-bottom:20px;
	color: #fff;
}
.quotations p{
	font-size:2rem;
	line-height:2.6rem;
	color: #f7f7f7;
}

.section {
	margin: 48px 0 ;
	// overflow:hidden;
}
.section > p {
	margin: 10px 0;
}
.page-header {
	margin-bottom:24px;
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
}
.page-header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: #699FE1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.docs-example {
	position: relative;
	padding:20px;
	margin: 15px 0;
	background-color: #fff;
	border: 1px solid #ddd;
}
.docs-example-mt {
	padding-top: 30px;
}
.docs-example-scrollbar .progress {
	margin-bottom: 10px;
}
.docs-input input[type=text] {
	display: block;
	margin-bottom: 10px;
}

.footer.container{
	padding:0;
}
.footer .footer-content{
	margin:0 20px;
	padding: 20px;
	color: #999;
	border-top: 1px solid #eee;
	text-align: center;
	line-height: 22px;
	font-size: 1.4rem;
}

.box-type{
	margin-left:-3px;
	margin-bottom:10px;
}
.box-type a{
	width:20px;
	height:20px;
}

/*====== Scroll ========*/
.scroll-top{
    display: none;
	position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background: $primaryBg;
    color:#fff;
}
.scroll-top.in{
	display:block;
}

/*====== Tip ========*/
@media screen and (max-width : 640px){
	.tip-group{
		a{
			margin:5px;
		}
	}
}

/*====== Grid ========*/

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  color:#fff;
  background-color: #90b2da;
  border: 1px solid #fff;
}

/*====== Code color ========*/
.com {
	color: #93a1a1;
}
.lit {
	color: #195f91;
}
.pun, .opn, .clo {
	color: #93a1a1;
}
.fun {
	color: #dc322f;
}
.str, .atv {
	color: #D14;
}
.kwd, .prettyprint .tag {
	color: #1e347b;
}
.typ, .atn, .dec, .var {
	color: teal;
}
.pln {
	color: #48484c;
}
.prettyprint {
	padding: 16px;
	background-color: #f7f7f7;
	font-size: 1.3rem;
	margin-bottom: 18px;
}
	
ol.linenums li {
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
	white-space: pre-wrap;
}


